<h1 class="m-3">Sign up</h1>

<!-- here password edit notice if not signed in  -->
<% if notice %>
	<div class="alert alert-warning alert-dismissible fade show m-4" role="alert">
			<li style="color:red" > <%= notice %> </li>
			 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
<% end %>
<!-- ################################################ -->
<!-- Here db validation error -->
<% if @register.errors.any? %>
	<% @register.errors.full_messages.each do |msg| %>
		<div class="alert alert-warning alert-dismissible fade show m-4" role="alert">
			<li style="color:red"> <%= msg %> </li>
			 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% end %>
<% end %>

<!-- ############################################# -->

<!-- Here is the form -->

<%= form_with model:@register ,url:signup_path do |f| %>
	<div class="m-3 ">
		<%= f.label :name,class:'form-label' %>
		<div class="col-sm-5">
			
		<%= f.text_field :name,class:'form-control' %>
		</div>
	</div>

	<div class="m-3">
		<%= f.label :email,class:'form-label' %>
		<div class="col-sm-5">
		<%= f.text_field :email,class:'form-control' %> 
		</div>
	</div>

	<div class="m-3">
		<%= f.label :password,class:'form-label' %>
		<div class="col-sm-5">
		<%= f.password_field :password,class:'form-control' %>
		</div>
	</div>

	<div class="m-3">
		<%= f.label :password_confirmation,class:'form-label' %>
		<div class="col-sm-5">
		<%= f.password_field :password_confirmation,class:'form-control' %>
		</div>
	</div>
	
	
	
	<%= f.submit "Sign up" ,class:'btn btn-dark ms-3'%>


<% end %>