<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home",root_path,class:'nav-link active'  %>
         <!--  <a class="nav-link active" aria-current="page" href="#">Home</a> -->
        </li>
        <% if Current.reg %>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#">Create a tweet</a> -->
              <%= link_to "Create a tweet", new_tweet_path,class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                My account
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Change Password", edit_password_path,class:'dropdown-item' %>
                <!-- <li><a class="dropdown-item" href="#">Another action</a></li> -->
                <%= link_to "My tweets", mytweets_path,class:'dropdown-item' %>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
              </ul>
            </li>
        <% end %>

        <!-- <li class="nav-item">
          <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <% if Current.reg %>
          <!-- <li class="nav-item">

          <%= link_to Current.reg.email, edit_password_path,class:' btn btn-primary btn-sm'%>
          </li> -->
            <%= link_to "Logout",logout_path,method: :delete,data:{confirm:"are you sure"},class:'btn btn-danger ms-4'  %>

      <% else %>

        <div class="mx-2 gap-2">
          <%= link_to "Sign up",signup_path,class:"btn btn-outline-warning" %>

          <%= link_to "Login",login_path,class:"btn btn-outline-primary" %>
        </div>

      <% end %>

    </div>
  </div>
</nav>
